.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'portal';
  background-image: url('/Images/splashscreen.jpg');
  background-position: center;
  background-size:contain;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color:orange
}

iframe {
  width:80vw;
  height: 80vh;
}

#time {
  font-size: 20rem;
}

#hint {
  width: 50vw;
  height: 20vh;
}